select {
  background: #ffffff;
  outline: none;
  border: 1px solid black;
  border-radius: 1rem;
}

.mal {
  background: red;
}

.eliminar {
  background: red;
  color: white;
  padding: 0.5rem 1rem;

  &:hover {
    background: rgb(212, 0, 0);
  }

  &:active {
    background: red;
  }
}
